
.container {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1d8845;  
}

.nav a {
    display: flex;
    flex-direction: row;
    font-family: "Bebas Neue";
    margin-left: 10px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    gap: 5px;
}

.nav h4 {
    display: flex;
    align-items: center;
    font-size: 27px;
}

.nav a:hover {
    color: black;
}


.secondContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 1500px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: white;
    font-family: "Bebas Neue";
    color: #1d8845;
    box-shadow: 0px 0px 3px black;
    gap: 40px
}

.Description {
    margin: 20px;
    width: 50%;
   }

.Description h1{
    font-size: 60px;
    margin-bottom: 25px;
}

.Description h2{
    font-size: 40px
}
