.container {
    position:relative;
    margin: 20px;
    width: 330px;
    height: 350px;
    box-shadow: 0px 0px 5px black;
    font-family: 'Bebas Neue';
    overflow: hidden; 
    text-align: center; 
    
}

.container h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 65%, #000);
    
    

}
.container img {
    width: 100%;
    height: 100%;
    
}


.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 370px;
    background:#1d8845;
    color: white;
    width: 100%;
    height: 100%;
    transition: top 0.3s ease-out;
    text-shadow: 0px 0px 1px black;
    opacity: 1
    
}

.info li {
    font-size: 20px;
    opacity: 1
    
}

.info h1 {
    padding-bottom: 10px;
    opacity: 1
}

.infoContainer i {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 25px;
    right: 30px
}

.infoContainer i:hover {
    cursor: pointer;
    color: lightgrey
}



.container:hover  .infoContainer {
    top: 0px;
    transition: top 0.3s ease-in-out

}

.info button {
    width: 150px;
    height: 50px;
    color: #1d8845;
    font-family: 'Bebas Neue';
    font-size: 20px;
    background-color: white;
    border: solid white;
    margin-top: 30px
}

.info button:hover{
    cursor: pointer;
    background-color: lightgrey;
    border: solid lightgrey;
    
   
}
